.table-in-card .ant-table-body {
    height: 17em; // Match TABLE_HEIGHT in DashboardPage.tsx
}

.card-in-dashboard {
    .ant-card-head-wrapper {
        justify-content: center;
        .ant-card-head-title {
            flex: unset;
        }
    }
    .ant-card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 27.5em;
        padding-top: 1em;
    }
}
