#changelist .actions label:not(:first-of-type) {
    margin-left: 15px;
}

body.model-containermove #changelist-form .paginator,
body.model-sampleupdate #changelist-form .paginator {
    display: none;
}
