#placement-row-main {
    flex-wrap: nowrap;
    gap: 1em;
}

#placement-row-main .ant-col .ant-row {
    margin-top: 1em;
}

// PlacementContainer.tsx
.placement-cell {
    border: 1px solid gray;
    color: black;
    border-radius: 100%;
    height: 2vw;
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

// place after placement-cell in html
.tiny-placement-cell
{
  height: 1.15vw;
  width: 1.15vw;
  font-size: .5vw;
  font-weight: bold;
}

.placement-container-rows-of-cells {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.placement-cells {
    display: flex;
    flex-direction: column;
    border: solid grey 1px;
    width: 100%;
    height: 32em;
    align-self: center;
    justify-content: space-evenly;

    // disable selection
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}