.cell {
    border: 1px solid gray;
    color: black;
    border-radius: 100%;
    height: 2vw;
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.tiny-cell
{
  border: 1px solid gray;
  color: black;
  border-radius: 100%;
  height: 1.15vw;
  width: 1.15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .5vw;
  font-weight: bold;
}

.row {
    display: flex;
    gap: 0.5vw;
    flex-direction: row;
}

.header-row {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.25vw;
    width: 100%;
}

.tiny-flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.transfer {
    display: flex;
    flex-direction: column;
    gap: 0.5vw 0;
    border: solid grey 1px;
    padding: 0.25vw;

    // disable selection
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    width: fit-content;
    align-self: center;
}